* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(../images/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

body button {
  background-color: antiquewhite;
  font-family: system-ui, -apple-sgitystem, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  color: deeppink;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(166, 255, 0);
  border: 1px solid rgb(166, 255, 0);
  width: 300px;
  height: 100px;
}

.img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

body button:hover {
  background-color: rgb(166, 255, 0);
  color: black;
  cursor: pointer;
  box-shadow: 0px 0px 80px yellowgreen;
}
